numpy~=1.22.0
pyaudio~=0.2.14
ollama~=0.3.1
simpleaudio~=1.0.4
TTS~=0.22.0
functions~=0.7.0
onnxruntime~=1.18.1
ctranslate2~=4.3.1
faster-whisper~=1.0.2
torch~=2.3.1
requests~=2.32.3
tokenizers~=0.19.1
beautifulsoup4~=4.12.3
requests-html~=0.10.0
lxml-html-clean~=0.1.1
bs4~=0.0.2
wikipedia~=1.4.0
HomeAssistant-API~=4.2.2.post2
google~=3.0.0
Flask~=3.0.3
streamlit~=1.38.0
pydantic~=2.7.4
fastapi~=0.112.4
gradio~=5.0.0b1
websocket-client~=1.8.0